/* Estilos para el header */
.header{
    width: 100%;
    height: 90px;
    background-color: #000;
    /* Posición fija para mantenerlo en la parte superior */
    position: fixed;
    top: 0;
    display: flex;
    /* Centrar verticalmente los elementos dentro del encabezado */
    align-items: center;
    /* Valor de z-index para la superposición */
    z-index: 1;
}

/* Estilos para la barra de navegación */
.navbar {
    width: 100%;
    padding: 0 20px;
}

/* Estilos para el menú de navegación */
.menu {
    display: flex;
    /* Alinear los elementos a la derecha */
    justify-content: flex-end;
    /* Espacio entre los elementos del menú */
    gap: 15px;
    /* Eliminar los puntos de lista */
    list-style: none;
}

/* Estilos para cada elemento del menú */
.menu-item {
    text-align: center;
    padding: 15px 10px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 200ms;
    border-bottom: 2px transparent;
}

/* Estilos cuando se pasa el mouse sobre un elemento del menú */
.menu-item:hover {
    color: #ff4848;
    border-bottom: 2px solid #ff4848;
}

/* Estilos para la navbar movile ----------------------------------------------------------------- */ 

/* Estilos para el botón de menú desplegable */
.menu-button {
    /* Inicialmente oculta el botón en pantallas grandes */
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff4545;
    /* Agrega una transición suave para el cambio de color */
    transition: color 200ms;
}

.menu-button > .icon{
    font-size: 1.8rem;
    color: #fff;
}

.menu-button:hover {
    /* Cambia el color al pasar el mouse */
    color: #ff4848;
}

.menu.open {
    /* Activa el menú */
    display: block;
    /* Posición fija para mantenerlo en la parte superior */
    position: fixed;
    top: 90px;
    left: 0;
    background-color: #000;
    width: 100%;
}

/* Media query para pantallas de escritorio (mayores a 768px) */
@media (min-width: 769px) {

}

/* Media query para pantallas móviles (menores o iguales a 768px) */
@media (max-width: 768px) {
    .menu-button {
        /* Muestra el botón en pantallas móviles */
        display: block;
    }
    .menu {
        /* Establece la opacidad inicial en 0 (lo oculta) */
        opacity: 0;
        /* Desactiva eventos del mouse cuando está oculto */
        pointer-events: none; 
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* Desplaza el menú hacia arriba */
        transform: translateY(-100%);
        /* Cambia la posición a absoluta para que esté encima de otros elementos */
        position: absolute;
        z-index: 2;
        width: 100%;
        background-color: #000;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    /* Estilos cuando se pasa el mouse sobre un elemento del menú */
    .menu-item:hover {
        background-color: #ff4848;
        color: #fff;
        /* Quitamos el efecto del border red */
        border: inherit;
        /* Agrega transiciones suaves */
        transition: background-color 0.2s, color 0.2s;
    }
    /* Cuando el menú está abierto */
    .menu.open {
        opacity: 1;
        transform: translateY(0);
        /* Habilita eventos del mouse cuando está visible */
        pointer-events: auto;
    }
}