/* Estilos para el artículo del post */
.single-post {
    max-width: 1000px;
    border: 2px solid #ccc;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Estilos para el título dentro de cada artículo */
.single-post .title{
    padding-bottom: 10px;
}

/* Contenedor del botón "Me gusta" */
.buttons-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: auto; /* Empuja los botones hacia la parte inferior */
    align-self: flex-end;
}

.show-comments{
    align-self: center;
}

.show-comments:hover{
    color: #ff4848;
    transition: color 0.3s ease-in-out; /* Agrega una animación de pulsación */
}

/* Estilos cuando se pasa el mouse sobre un artículo */
.single-post:hover {
    /* Cambia la sombra */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Se agrega un borde rojo debajo de cada artículo */
    border-bottom: 2px solid #ff4848;
}