.comments-container{
    border: 2px solid #ccc;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.comments-container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: #000;
}

.comments-container-header h3{
    color: #fff;
}

/* Estilos para el artículo del post */
.comment {
    max-width: 1000px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comment .user-info-content {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.comment .user-info-content img {
    border-radius: 50%;
    background-color: #e4e4e4;
}

/* Estilos para el email del comentario */
.comment .email{
    font-size: 20px;
}

.comment-title{
    font-size: 18px;
}

/* Contenedor del botón "Me gusta" */
.like-button-container {
    padding-top: 10px;
    margin-top: auto; /* Empuja el botón hacia la parte inferior */
    align-self: flex-end; /* Alinea el botón al final del artículo, es decir, a la derecha */
}

.comment-separator{
    margin-top: 10px;
}